.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}